.section {
    width: 100%;
    margin: 10px;
    /* outline: 1px dotted red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background-color: #30517f; */   
    /* background-color: #00abeb; */
}

.section img {
    width: 80%;
}

.left-section {
    width: 65%;
    padding: 10px;
}

.right-section {
    width: 35%;
    padding: 10px;
}

@media (max-width: 900px) {
    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0;
        display: none;
    }
}

.left-section img {
    width: 50%;
}

/* NAV  =================================================== */

.nav-bar {
    margin: 10px;
    padding: 10px;
    color: white;
    /* background-color: #494c4f; */
    background-color: #30517f;
    /* background-color: #001531; */
    display: flex;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 14px 20px;
    text-align: center;
  }

/* NAV BOTTOM ============================================== */

.nav-bottom {
    width: 100%;
    background-color: #30517f;
    /* background-color: #001531; */
    padding: 30px;
    margin: 10px;
}

.nav-bottom a {
    color: whitesmoke;
    padding: 14px 20px;
    text-align: center;
}

.nav-left {
    position: relative;
}

.nav-right {
    position: absolute;
    top: -36px;
    right: 0;
}
a {
    color: #30517f;
}

@media (max-width: 700px) {
    .nav-left {
        width: 0;
        display: none;
    }

    .nav-right {
        width: 100%;
    }
}

/* header {
    width: 100%;
    margin: 30px;
    color: white;
    background-color: #30517f;
    background-color: #001531;
    padding: 20px 50px;
    outline: dotted yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: no wrap;
}

.header-left {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    order: 2;
}

.header-right {
    position: absolute;
    top: 60px;
    right: 140px;
    width: 15%;
    flex: 1;
    order: 1;
}

@media (min-width: 900px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
} */

.header {
    width: 100%;
    margin: 10px;
    padding: 20px;
    background-color: #30517f;
    color: white;
}

.header-left-one {
    flex: 3;
    order: 1;
    height: auto;
    outline: dotted red;
}

/* .header-left-two {
    flex: 3;
    order: 2;
    height: auto;
    outline: dotted green;
} */

.header-left-three {
    flex: 3;
    order: 3;
    height: auto;
    outline: dotted blue;
}

.header-right {
    flex: 1;
    order: 4;
    height: auto;
    outline: dotted purple;
}

@media (min-width: 700px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
}

/* HEADER LOGO AND POSITION========================= */

@media (max-width: 415px) {
    .header-left-one {
        width: 100%;
    }
    /* .header-left-two {
        width: 0;
        display: none;
    } */
    .header-left-three {
        width: 100%;
    }
    .header-right {
        width: 0;
        display: none;
    }
}

@media (max-width: 1024px) {
    .header-left-one {
        width: 70%;
    }
    /* .header-left-two {
        width: 0;
        display: none;
    } */
    .header-left-three {
        width: 70%;
    }
    .header-right {
        width: 30;
    }
}
footer {
    color: #c1c1c1;
    background-color: #30517f;
    text-align: center;
    margin: 30px;
    width: 100%;
}

.email-me {
    width: 95%;
    color: #0bb634;
    background-color: #c1c1c1;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.search {
    width: 87%;
    margin: 30px;
    display: flex;
    /* background-color: #00abeb;*/
    background-color: #30517f;
    /* background-color: #dbedff; */
    color: white;
    text-align: center;
    padding: 50px;
}

.button {
    width: 90%;
    padding: 30px;
    background-color:whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}

/* h1 {
    font-size: 40px;
} */