.section {
    width: 95%;
    margin: 30px;
    outline: 1px dotted red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background-color: #30517f; */   
    /* background-color: #00abeb; */
}

.section img {
    width: 80%;
}

.left-section {
    width: 65%;
}

.right-section {
    width: 30%;
    padding: 30px;
}

@media (max-width: 900px) {
    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0;
        display: none;
    }
}

.left-section img {
    width: 50%;
}

.nav-bar {
    margin: 30px;
    padding: 10px;
    color: white;
    /* background-color: #494c4f; */
    background-color: #30517f;
    /* background-color: #001531; */
    display: flex;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 14px 20px;
    text-align: center;
  }

/* ====nav bottom============================================== */
.nav-bottom {
    width: 90%;
    /* background-color: #30517f; */
    background-color: #001531;
    padding: 30px;
    margin: 30px;
}

.nav-bottom a {
    color: whitesmoke;
    padding: 14px 20px;
    text-align: center;
}

.nav-left {
    position: relative;
}

.nav-right {
    position: absolute;
    top: -35px;
    right: -15px;
}
a {
    color: #30517f;
}

/* header {
    width: 100%;
    margin: 30px;
    color: white;
    background-color: #30517f;
    background-color: #001531;
    padding: 20px 50px;
    outline: dotted yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: no wrap;
}

.header-left {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    order: 2;
}

.header-right {
    position: absolute;
    top: 60px;
    right: 140px;
    width: 15%;
    flex: 1;
    order: 1;
}

@media (min-width: 900px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
} */

.header {
    width: 95%;
    margin: 30px;
    background-color: #001531;
    color: white;
    outline: dotted purple;
}

.header-left {
    flex: 7;
    order: 1;
    outline: dotted blue;
}
.header-right {
    flex: 1;
    order: 1;
    outline: dotted yellow;
}

@media (min-width: 900px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
}

footer {
    color: #c1c1c1;
    background-color: #30517f;
    text-align: center;
    margin: 30px;
    width: 100%;
}

h2 {
    font-size: 16px;
}
.email-me {
    width: 95%;
    color: #0bb634;
    background-color: #c1c1c1;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.search {
    width: 87%;
    margin: 30px;
    display: flex;
    /* background-color: #00abeb;*/
    background-color:plum ;
    /* background-color: #dbedff; */
    color: white;
    text-align: center;
    padding: 50px;
}

.button {
    width: 90%;
    padding: 30px;
    background-color:whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}

/* HEADER LOGO AND POSITION */
/* @media (max-width: 900px) {
    .header-left {
        width: 100%;
    }

    .header-right {
        width: 0;
        display: none;
    }
} */
