/* ANIMATION MOVING AROUND MYLOGO */

.header-right {
position: relative;
animation-name: mylogoanimation;
animation-duration: 4s;

    width: 100px;
    height: 100px;
  
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
  }


  @keyframes mylogoanimation{
      0% {left: 0px; top: 0px;}
      25% {left: -400px; top: 0px;}
      50% {left: -500px; top: 300px;}
      75% {left: 0px; top: 300px;}
      100% {left: 0px; top: 0px;}

  }

/* ANIMATION ON BACKGROUND PICTURE - CHANGE OF COLOR */

.transition1 {
    background: white;
    animation-name: myanimation;
    animation-duration: 5s;
    padding: 5px;
}

@keyframes myanimation {
    0% {background-color: white; color: #092f57;}
    25% {background-color:rgb(197, 233, 245);}
    50% {background-color: rgb(248, 217, 217);}
    75% {background-color: #f9d3f4; color:black;}
    100% {background-color: white;
    }
}

.section {
    width: 100%;
    margin: 10px;
    /* outline: 1px dotted red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background-color: #30517f; */   
    /* background-color: #00abeb; */
}

.section img {
    width: 60%;
    height: auto;
}

.left-section {
    width: 65%;
    padding: 10px;
}

.right-section {
    width: 35%;
    padding: 10px;
}

@media (max-width: 900px) {
    .left-section {
        width: 100%;
    }

    .right-section {
        width: 0;
        display: none;
    }
}

.left-section img {
    width: 50%;
}

/* NAV  =================================================== */

.nav {
    background-color: #092f57;
    margin: 10px -50px 10px 10px;
    padding: 10px;
    color: white;
    display: flex;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 14px 20px;
    text-align: center;
  }

/* NAV BOTTOM ============================================== */

.nav-bottom {
    width: 100%;
    /* background-color: #30517f; */
    background-color: #092f57;
    padding: 30px;
    margin: 10px;
}

.nav-bottom a {
    color: whitesmoke;
    padding: 14px 20px;
    text-align: center;
}

.nav-left {
    position: relative;
}

.nav-right {
    position: absolute;
    top: -36px;
    right: 0;
}
a {
    color: #30517f;
}

@media (max-width: 700px) {
    .nav-left {
        width: 0;
        display: none;
    }

    .nav-right {
        width: 100%;
    }
}



.header {
    width: 100%;
    margin: 10px;
    padding: 20px;
    /* background-color: #30517f; */
    background-color: #092f57;
    /* background-color: #1b5a7d; */
    /* background-color: #006f97; */
    color: white;
}

.header-left-one {
    flex: 3;
    order: 1;
    height: auto;
    /* outline: dotted red; */
}

.header-left-two {
    flex: 3;
    order: 2;
    height: auto;
    /* color: pink; */
    /* outline: dotted green; */
}

.header-left-three {
    flex: 3;
    order: 3;
    height: auto;
    color:yellow;
    /* outline: dotted blue; */
}

.header-right {
    flex: 1;
    order: 4;
    height: auto;
    /* outline: dotted purple; */
}

@media (min-width: 700px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
}

/* HEADER LOGO AND POSITION========================= */

@media (max-width: 415px) {
    .header-left-one {
        width: 70%;
    }
    .header-left-two {
        width: 100%;
        color: #fff;
    }
    .header-left-three {
        width: 0;
        display: none;
        color: #fff;;
    }
    .header-right {
        width: 30%;
        display: none;
    }
}

@media (max-width: 1024px) {
    .header-left-one {
        width: 100%;
    }
    .header-left-two {
        width: 100%;
        color: #fff;;
    }
    .header-left-three {
        width: 0;
        display: none;
        color: white;
        
    }
    .header-right {
        width: 0;
        display: none;
    }
}
footer {
    color: #c1c1c1;
    /* background-color: #30517f; */
    background-color: #092f57;
    text-align: center;
    margin: 30px;
    width: 100%;
}

.email-me {
    width: 95%;
    color: #0bb634;
    background-color: #c1c1c1;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.search {
    width: 87%;
    margin: 30px;
    display: flex;
    /* background-color: #00abeb;*/
    background-color: #092f57;
    /* background-color: #dbedff; */
    color: white;
    text-align: center;
    padding: 50px;
}

.button {
    width: 90%;
    padding: 30px;
    background-color:whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}

/* h1 {
    font-size: 40px;
} */

.search-page-layout {
    margin: 10px;
    padding: 10px;
}

.home-tile img{
    width: 100%;
}

.home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-tile {
    width: 30%;
    max-width: 400px;
    margin: 2rem 0;
    border: 1px solid grey;
}

.faq-questions {
    color: blue;
    cursor: pointer;
}

/* TRANSITION ON THE HEADER AND PICTURE */

.transition1 {
    width: 350px;
    height: 400px;
    font-size: 16px;
    text-align: center;
    background: #092f57;
    color: white;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
    
  }
  
  .transition1:hover {
    width: 800px;
  }

/* TRANSITION+TRANSFORM 360D ON LOGO */

.header-right {
    width: 100px;
    height: 100px;
  
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
  }
  
.header-right:hover {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(360deg);
  }

/* ANIMATION ON HEADER COLOR CHANGE 2 ITERATION COUNT*/

.header {

    background-color:#092f57;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;

  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {background-color:#1b5a7d;}
    to {background-color: #0bb634;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color:#1b5a7d;}
    to {background-color: white;
    color: #092f57;}
  }

  .header:hover{
    /* border-radius: 50%; */
    transform: rotateY(360deg)

  }



  